# Ignore virtual environment folders
env/
venv/
ML_hand_gesture/

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Ignore MLflow experiment logs
mlruns/
mlartifacts/
# Ignore large data/model files (adjust extensions as needed)
*.h5
*.pkl
*.joblib
*.pt
*.onnx

# Ignore notebook outputs (if needed)
*.nbconvert.ipynb

# Ignore test artifacts
test_output/
